@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Rubik:wght@400;700&family=Lexend+Deca:wght@400;700&family=Syne+Mono&family=Averia+Sans+Libre&family=Noto+Sans:wght@400;700&display=swap');

:root {
	/* Background, Titles, and Body Text Colors */
	--bg-color: #272e2d; /* Background */
	--text-color: #edeadf; /* Page Title, Work Item Titles, and Body Text */
	
	/* Link and Linked Item Colors */
	--link-color: #b787e8; /* Links and Linked Item Titles */
	--link-hover-color: #cdfc12; /* Links and Linked Item Titles on Hover */
	--line-color: rgb(183, 135, 232, 0.7);
	--line-hover-color: #988fff;
	--link-halo: #2600ff;
	--link-halo2: #00509c;
	
	/* Additional Item Information */
	--h3-color: #e4dfed; /* Context of the work (e.g., exhibition, publisher, institution, company) */
	--h4-color: #c9f2cf; /* Specific project, act, or segment title within a larger work */
	--role-color: #e0bfbf; /* Role within a project or work */
	--year-color: #bcd6d4; /* Year of creation or participation */
	--email-color: #9fc4ee; /* Email address */
	--original-color: #f0bb86; /* Indicator for originally conceptualized works */ 
	
	/* Other UI Elements */
	--selection-text: #26245c; /* Selected text color */
	--selection-background: #a4bfab; /* Background of selected text */
	--scrollbar-color: #e887dd; /* Scrollbar thumb */
	--scrollbar-track-color: #26261e; /* Scrollbar track */
	
	/* Item Category Colors */
	--category-research-color: #1cebc1; /* Research & Academic */
	--category-intermedia-color: #7a52f3; /* Intermedia */
	--category-virtual-color: #e72e5c; /* Virtual and streamed media */
	--category-music-color: #ff66d4; /* Music */
	--category-score-color: #33ccff; /* Soundtrack & Score */
	--category-writing-color: #e8c440; /* Written works (e.g., poetry, essays, fiction) */
	--category-theater-color: #5fe25f; /* Theater and performance-based works */
	--category-software-color: #88d9e6; /* Software and technological works */
	--category-instrument-color: #ff7200; /* Instrument design and experimental interfaces */
	--category-visual-color: #ab00ff; /* Visual art */
	--category-participatory-color: #ffb400; /* Participatory & Community Projects */
	--category-dot-color: #c3c6d6; /* Separator dot for categories */

}

a {
	text-decoration: underline wavy;
	text-decoration-color: var(--line-color);
	color: inherit; /* Link color */
	
}


body {
	font-family: "Rubik", "Noto Sans", sans-serif;
	background: linear-gradient(to bottom, var(--bg-color), var(--bg-color), var(--bg-color));
	color: var(--text-color);
	margin: 0;
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.3;
	flex-direction: column;
	letter-spacing: 0.01em;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background') no-repeat center center/cover; 
	filter: hue-rotate(-10deg); /* Change hue */
    opacity: 0.02; /* Adjust transparency */
    mix-blend-mode: normal; /* Try overlay, multiply, or screen */
    z-index: -1;
}

.center-section {
	text-align: center;
	margin-bottom: 2rem;
}
.center-section h1 {
	font-family: "Quicksand", "Noto Sans", sans-serif;
	margin: 1rem 0 0.7rem 0;
	letter-spacing: 0.02em;
}
.center-section p {
	margin: 0.5rem 0;
	letter-spacing: 0.015em;
}
.center-section img {
	max-width: 150px;
	height: auto;
	margin: 0.4rem 0 0 0;
}


.email {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	margin: 0.5rem 0;
}
.social-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}
.social-links a {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	margin: 0.1rem 0;
	text-decoration: none;
	color: var(--link-color);
	letter-spacing: 0.01em;
}
.social-links a:hover {
	color: var(--link-hover-color);
}
h1 {
	font-family: "Rubik", "Noto Sans", sans-serif;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 0 0 1rem 0;
}
.left-align-section {
	max-width: 800px;
	text-align: left;
}
.works-section {
	max-width: 800px;
	text-align: left;
}
.work-entry {
	margin-bottom: 2.5rem;
}
.work-entry h2 {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	margin: 0 0 0 0;
	letter-spacing: 0.03em;
}
.work-entry h3 {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	font-weight: 400;
	margin: 0rem 0;
	color: var(--h3-color);
	letter-spacing: 0.015em;
}

.work-entry h4 {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	font-weight: 400;
	margin: 0rem 0;
	color: var(--h4-color);
	letter-spacing: 0.015em;
	font-size: 1.2em;
}


.work-entry p.subentry {
	margin-left: 1rem; /* Separation from the preceding <p> */
	
}


.work-entry p + p.subentry {
}



a:hover, a:active {
	color: var(--link-hover-color); /* Hover color */
	text-decoration-color: var(--line-hover-color);
}

/* Apply to all links (optionally exclude email/socials) */
/* Apply to all links (optionally exclude email/socials) */

::selection {
    background-color:  var(--selection-background);
    color:  var(--selection-text);
}

.subentry {
    margin-left: 1.5rem;
    padding-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 0;
}

.subentry p{
    font-size:0.9rem
}


.subentry h2 {
    font-size: 1.1em;
    color: var(--h3-color); /* Soft accent */
	font-weight: 400;
	margin: 0rem 0;

	letter-spacing: 0.015em;

}


.work-entry p {
	font-family: "Lexend Deca", "Noto Sans", sans-serif;
	margin: 0.25rem 0;
	letter-spacing: 0.015em;
}

.work-entry .year {
	color: var(--year-color);
	letter-spacing: 0.01em;
}

.work-entry .role {
	color: var(--role-color);
	letter-spacing: 0.01em;
}

.original {
	color: var(--original-color);
}

.original::before {
	content: "original work";
}

.present {
	color: var(--present-color);
}		

.work-entry span:not(:first-of-type)::before {
    content: " · ";
}

div.categories p:not(:last-of-type)::after{
    content: " · ";
	color: var(--category-dot-color);
	font-weight: bold;
}

/* Category Styles */
.category-research {
	color: var(--category-research-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-intermedia {
	color: var(--category-intermedia-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-virtual {
	color: var(--category-virtual-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-music {
	color: var(--category-music-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-score {
	color: var(--category-score-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-writing {
	color: var(--category-writing-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-theater {
	color: var(--category-theater-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}


.category-instrument {
	color: var(--category-instrument-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-visuals {
	color: var(--category-visual-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-software {
	color: var(--category-software-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-participatory {
	color: var(--category-participatory-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

/* category text */

.category-research::before {
	content: "Research & Academic Work";
	font-weight: bold;
}

.category-intermedia::before {
	content: "Intermedia & Interdisciplinary Arts";
	font-weight: bold;
}

.category-virtual::before {
	content: "Virtual & Streaming";
	font-weight: bold;
}

.category-score::before {
	content: "Soundtrack & Score";
	font-weight: bold;
}

.category-music::before {
	content: "Music Composition & Performance";
	font-weight: bold;
}

.category-writing::before {
	content: "Writing";
	font-weight: bold;
}

.category-theater::before {
	content: "Theater & Acting";
	font-weight: bold;
}

.category-software::before {
	content: "Digital Applications & Tools";
	font-weight: bold;
}

.category-instrument::before {
	content: "Instrument Design & Sound Synthesis";
	font-weight: bold;
}

.category-visuals::before {
	content: "Visual Art & Graphics";
	font-weight: bold;
}

.category-participatory::before {
	content: "Participatory & Community Projects";
	font-weight: bold;
}


/* Add padding for mobile devices */
@media (max-width: 768px) {
	body {
		padding: 1rem;
	}
	.left-align-section, .works-section {
		padding: 0 1rem;
	}
}

.mask1 {
	-webkit-mask-image: url('xmask.png');
	mask-image: url('xmask.png');
	mask-repeat: no-repeat; 
	mask-size: cover;
}

.logo{
	text-align: center;
	height:50px; 
	width:50px; 
	margin: 1rem 0 2.1rem 0;
}

/* Scrollbar Styling for Webkit Browsers */
::-webkit-scrollbar {
    width: 16px; /* Medium width for vertical scrollbar */
    height: 16px; /* Medium height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color); /* Color of the scrollbar thumb */
    border-radius: 40%; /* Fully rounded thumb */
    border: 3px solid var(--scrollbar-track-color); /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--link-hover-color); /* Thumb color when hovered */
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-track-color); /* Background of the scrollbar corner */
}


@media (prefers-color-scheme: light) {
:root {
	/* Background and Text Colors */
	--bg-color: #e9f0dd; /* Primary background */
	--bg-color2: #ffead1; /* Secondary background */
	--bg-color3: #e4f7f5; /* Tertiary background */
	--text-color: #23213b; /* Page Title, Work Item Titles, and Body Text */

	/* Link Colors */
	--link-color: #b236e4; /* Links and Linked Item Titles */
	--line-color: rgb(183, 135, 232, 0.7);
	--line-hover-color: #988fff;
	--link-hover-color: #87a510; /* Links and Linked Item Titles on Hover */
	--link-halo: #00ff26;
	--link-halo2: #00e5ff;

	/* Additional Item Information */
	--h3-color: #365858; /* Context of the work (e.g., exhibition, publisher, institution, company) */
	--h4-color: #4c5e49; /* Specific project, act, or segment title within a larger work */
	--role-color: #584809; /* Role within a project or work */
	--year-color: #3f857e; /* Year of creation or participation */
	--email-color: #546f79; /* Email address */
	--original-color: #e3780e; /* Indicator for originally conceptualized works */
	
	/* Other UI Elements */
	--selection-text: #a9b5db; /* Selected text color */
	--selection-background: #32543b; /* Background of selected text */
	--scrollbar-color: #392363; /* Scrollbar thumb */
	--scrollbar-track-color: #a0ccb7; /* Scrollbar track */

	/* Category Colors */
	--category-research-color: #b32846; /* Research & Academic */
	--category-intermedia-color: #402f89; /* Intermedia */
	--category-virtual-color: #2c9c87; /* Virtual and streamed media \ */
	--category-music-color: #1e7a4e; /* Music */
	--category-score-color: #a64625; /* Soundtrack & Score */
	--category-writing-color: #2e57a1; /* Written works  */
	--category-theater-color: #7a3d7a; /* Theater and performance-based works */
	--category-software-color: #2e72b5; /* Digital Applications & Technology works */
	--category-instrument-color: #644737; /* Instrument design and experimental interfaces */
	--category-visual-color: #8b3ebd; /* Visual art */
	--category-participatory-color: #d49a00; /* Participatory & Community Projects */
	--category-dot-color: #514d3d; /* Separator dot for categories */
}

.background-overlay {
	filter: hue-rotate(-90deg); /* Change hue */
	opacity: 0.1; /* Adjust transparency */
}

}
