@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Rubik:wght@400;700&family=Lexend+Deca:wght@400;700&family=Syne+Mono&family=Averia+Sans+Libre&family=Noto+Sans:wght@400;700&display=swap');

:root {
	/* Background and Text Colors */
	--bg-color: #f2e4dc; /* Sunlit ivory, reminiscent of soft sands and gentle sunlight */
	--bg-color2: #ffead1; /* Warm pastel peach, evoking seashell tones */
	--bg-color3: #e4f7f5; /* Soft aqua, like the shimmer of ocean foam */
	--text-color: #37364d; /* Deep charcoal, bold and readable, balancing the brightness */

	/* Link Colors */
	--link-color: #b236e4; /* Bold cobalt blue, evoking ocean depths and skies */
	--link-hover-color: #87a510; /* Saturated golden yellow, like the sun reflecting off water */

	/* Special Text */
	--h3-color: #365858; /* Rich cerulean blue, dreamy and resonant like deep waters */
	--role-color: #584809; /* Saturated sand dune beige, warm and earthy */
	--year-color: #3f857e; /* Dark teal, grounded yet vibrant, reminiscent of deep ocean currents */
	--email-color: #546f79; /* Strong azure blue, striking and clear like a digital reflection of the sea */
	--original-color: #e3780e; /* Bold coral orange, vibrant and fiery like a tropical sunset */
	--selection-text: #a5a3d8;
	--selection-background: #1e7234;
	--scrollbar-color: #8d1980;
	--scrollbar-track-color: #a0ccb7;

	/* Category Colors */
	--category-research-color: #e3143e; /* Inverted intense neon pink */
	--category-intermedia-color: #4f0cad; /* Inverted electric violet */
	--category-virtual-color: #18d1a3; /* Inverted vibrant cyan */
	--category-music-color: #00992b; /* Inverted bright tangerine */
	--category-score-color: #cc3300; /* Inverted electric blue */
	--category-writing-color: #173bbf; /* Inverted neon rose */
	--category-theater-color: #a01da0; /* Inverted neon green */
	--category-software-color: #77261d; /* Inverted soft aqua */
	--category-instrument-color: #008dff; /* Inverted glowing amber */
	--category-visual-color: #54ff00; /* Inverted radiant magenta-violet */
	--category-dot-color: #3c3929; /* Inverted */
}

body {
	font-family: "Rubik", "Noto Sans", sans-serif;
	background-color: var(--bg-color);
	/* background: linear-gradient(to bottom, var(--bg-color), var(--bg-color2), var(--bg-color3)); /* Vertical gradient */
	color: var(--text-color);
	margin: 0;
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.3;
	flex-direction: column;
	letter-spacing: 0.01em;
}

.center-section {
	text-align: center;
	margin-bottom: 2rem;
}
.center-section h1 {
	font-family: "Quicksand", "Noto Sans", sans-serif;
	margin: 1rem 0 0.7rem 0;
	letter-spacing: 0.02em;
}
.center-section p {
	margin: 0.5rem 0;
	letter-spacing: 0.015em;
}
.center-section img {
	max-width: 150px;
	height: auto;
	margin: 0.4rem 0 0 0;
}


.email {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	margin: 0.5rem 0;
}
.social-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}
.social-links a {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	margin: 0.1rem 0;
	text-decoration: none;
	color: var(--link-color);
	letter-spacing: 0.01em;
}
.social-links a:hover {
	color: var(--link-hover-color);
}
h1 {
	font-family: "Rubik", "Noto Sans", sans-serif;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 0 0 1rem 0;
}
.left-align-section {
	max-width: 800px;
	text-align: left;
}
.works-section {
	max-width: 800px;
	text-align: left;
}
.work-entry {
	margin-bottom: 2.5rem;
}
.work-entry h2 {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	margin: 0 0 0 0;
	letter-spacing: 0.03em;
}
.work-entry h3 {
	font-family: "Averia Sans Libre", "Noto Sans", sans-serif;
	font-weight: 400;
	margin: 0rem 0;
	color: var(--h3-color);
	letter-spacing: 0.015em;
}
a {
	text-decoration: none;
	color: var(--link-color); /* Link color */
}

a:hover, a:active {
	color: var(--link-hover-color); /* Hover color */
}

::selection {
    background-color:  var(--selection-background);
    color:  var(--selection-text);
}


.work-entry p {
	font-family: "Lexend Deca", "Noto Sans", sans-serif;
	margin: 0.25rem 0;
	letter-spacing: 0.015em;
}

.work-entry .year {
	color: var(--year-color);
	letter-spacing: 0.01em;
}

.work-entry .role {
	color: var(--role-color);
	letter-spacing: 0.01em;
}

.original {
	color: var(--original-color);
}

.original::before {
	content: "original work";
}

.present {
	color: var(--present-color);
}		

.work-entry span:not(:first-of-type)::before {
    content: " · ";
}

div.categories p:not(:last-of-type)::after{
    content: " · ";
	color: var(--category-dot-color);
	font-weight: bold;
}

/* Category Styles */
.category-research {
	color: var(--category-research-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-intermedia {
	color: var(--category-intermedia-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-virtual {
	color: var(--category-virtual-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-music {
	color: var(--category-music-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-score {
	color: var(--category-score-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-writing {
	color: var(--category-writing-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-theater {
	color: var(--category-theater-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}


.category-instrument {
	color: var(--category-instrument-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

.category-visuals {
	color: var(--category-visual-color);
	font-weight: bold;
	margin-right: 0.5rem;
	display: inline;
}

/* category text */

.category-research::before {
	content: "Research & Academic Work";
	font-weight: bold;
}

.category-intermedia::before {
	content: "Intermedia & Interdisciplinary Arts";
	font-weight: bold;
}

.category-virtual::before {
	content: "Virtual & Streaming";
	font-weight: bold;
}

.category-score::before {
	content: "Soundtrack & Score";
	font-weight: bold;
}

.category-music::before {
	content: "Music Composition & Performance";
	font-weight: bold;
}

.category-writing::before {
	content: "Writing";
	font-weight: bold;
}

.category-theater::before {
	content: "Theater & Acting";
	font-weight: bold;
}

.category-software::before {
	content: "Digital Applications & Tools";
	font-weight: bold;
}

.category-instrument::before {
	content: "Instrument Design & Sound Synthesis";
	font-weight: bold;
}

.category-visuals::before {
	content: "Visual Art & Graphics";
	font-weight: bold;
}



/* Add padding for mobile devices */
@media (max-width: 768px) {
	body {
		padding: 1rem;
	}
	.left-align-section, .works-section {
		padding: 0 1rem;
	}
}

.mask1 {
	-webkit-mask-image: url('xmask.png');
	mask-image: url('xmask.png');
	mask-repeat: no-repeat; 
	mask-size: cover;
}

.logo{
	text-align: center;
	height:50px; 
	width:50px; 
	margin: 1rem 0 2.1rem 0;
}

/* Scrollbar Styling for Webkit Browsers */
::-webkit-scrollbar {
    width: 16px; /* Medium width for vertical scrollbar */
    height: 16px; /* Medium height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); /* Background of the scrollbar track */
    border-radius: 8px; /* Slightly rounded scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color); /* Color of the scrollbar thumb */
    border-radius: 40%; /* Fully rounded thumb */
    border: 3px solid var(--scrollbar-track-color); /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--link-hover-color); /* Thumb color when hovered */
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-track-color); /* Background of the scrollbar corner */
}


@media (prefers-color-scheme: light) {
:root {

}


	
	}
